In [1]:
import pandas as pd

data=pd.read_csv("nba.csv")
data.head()

,姓,背號,位置,身高,體重,生日,助攻,火鍋,抄截,失誤,總計籃板,命中次數,出手次數,罰球命中次數,罰球次數,得分,上場場次,先發場次,總上場分鐘
0,Achiuwa,5,F,2.03,102.1,1999-09-19,111.0,69.0,57.0,127.0,681.0,389.0,831.0,134.0,241.0,968.0,134.0,32.0,2461.0
1,Adams,4,C,2.11,120.2,1993-07-20,982.0,629.0,588.0,950.0,5303.0,2556.0,4356.0,1044.0,1907.0,6157.0,664.0,599.0,17811.0
2,Adebayo,13,C-F,2.06,115.7,1997-07-18,1189.0,309.0,340.0,708.0,2850.0,1756.0,3145.0,1098.0,1481.0,4617.0,343.0,239.0,9665.0
3,Aldama,7,F-C,2.11,97.5,2001-01-10,21.0,10.0,6.0,16.0,87.0,53.0,132.0,20.0,32.0,132.0,32.0,0.0,359.0
4,Aldridge,21,C-F,2.11,113.4,1985-07-19,2076.0,1187.0,758.0,1643.0,8736.0,8311.0,16872.0,3709.0,4563.0,20558.0,1076.0,997.0,36242.0

data.colums :列出欄位(特徵)

In [3]:
data.columns

Index(['姓', '背號', '位置', '身高', '體重', '生日', '助攻', '火鍋', '抄截', '失誤', '總計籃板',
       '命中次數', '出手次數', '罰球命中次數', '罰球次數', '得分', '上場場次', '先發場次', '總上場分鐘'],
      dtype='object')

In [6]:
df2=data[['身高','體重']]
df2.head()

     身高     體重
0  2.03  102.1
1  2.11  120.2
2  2.06  115.7
3  2.11   97.5
4  2.11  113.4

data.sort_values(x,ascending=False) x->欄位 :以身高

ascending=False :大到小 預設小到大

In [7]:
df2.sort_values('身高')

       身高     體重
435  1.75   83.9
178  1.78   79.4
81   1.78   88.5
207  1.78   79.4
89   1.80   79.4
..    ...    ...
66   2.18  111.1
48   2.18   99.8
251  2.18  113.4
285  2.21  131.5
369  2.21  108.9

[500 rows x 2 columns]