In [83]:
import pandas as pd
df=pd.read_csv("StudentsPerformance-3.csv")
df.replace(['male','female'],[1,2],inplace=True)
df.replace(['group A','group B','group C','group D','group E'],[1,2,3,4,5],inplace=True)
df.replace(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],[1,2,3,4,5,6],inplace=True)
df.replace(['standard','free/reduced'],[1,2],inplace=True)
df.replace(['none', 'completed'],[1,2] ,inplace=True)

In [84]:
df.columns

Index(['Unnamed: 0', 'gender', 'ethnicity', 'parEdu', 'lunch', 'testPrep',
       'math', 'reading', 'writing', 'mathPass'],
      dtype='object')

In [85]:
data_X=df.drop(['Unnamed: 0', 'math', 'reading', 'writing', 'mathPass'],axis=1)

In [86]:
data_y=df.mathPass

In [87]:
data_X

     gender  ethnicity  parEdu  lunch  testPrep
0         2          2       1      1         1
1         2          3       2      1         2
2         2          2       3      1         1
3         1          1       4      2         1
4         1          3       2      1         1
..      ...        ...     ...    ...       ...
995       2          5       3      1         2
996       1          3       5      2         1
997       2          3       5      2         2
998       2          4       2      1         2
999       2          4       2      2         1

[1000 rows x 5 columns]

In [88]:
data_y

0      1
1      1
2      1
3      0
4      1
      ..
995    1
996    1
997    0
998    1
999    1
Name: mathPass, Length: 1000, dtype: int64

In [89]:
from sklearn.model_selection import train_test_split

train_X,test_X,train_y,test_y=train_test_split(data_X,data_y)

In [90]:
train_X

     gender  ethnicity  parEdu  lunch  testPrep
176       2          2       5      2         2
843       1          2       2      2         2
971       1          3       6      1         2
535       2          3       1      2         2
788       1          3       4      2         1
..      ...        ...     ...    ...       ...
793       1          5       6      1         2
121       1          2       4      1         2
660       1          3       2      2         1
700       2          5       1      1         2
130       1          4       3      1         1

[750 rows x 5 columns]

In [91]:
train_y

176    0
843    1
971    1
535    1
788    1
      ..
793    1
121    1
660    1
700    1
130    1
Name: mathPass, Length: 750, dtype: int64

In [92]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()#建立空模型
clf.fit(train_X,train_y)

DecisionTreeClassifier()

In [93]:
p=clf.predict(test_X)

In [94]:
sum(p==test_y)/len(p)

0.636