In [1]:
import pandas as pd 
df =pd.read_csv('diagnosis.csv')

df.replace('yes',1,inplace=True)
df.replace('no',0,inplace=True)
df.head()

,temp,nausea,lumber_pain,urine_pushing,micturiation_pain,burning,inflammation,nephritis
0,35.5,0,1,0,0,0,0,0
1,35.9,0,0,1,1,1,1,0
2,35.9,0,1,0,0,0,0,0
3,36.0,0,0,1,1,1,1,0
4,36.0,0,1,0,0,0,0,0

In [2]:
df.columns

Index(['temp', 'nausea', 'lumber_pain', 'urine_pushing', 'micturiation_pain',
       'burning', 'inflammation', 'nephritis'],
      dtype='object')

In [4]:
data_X=df[['temp', 'nausea', 'lumber_pain', 'urine_pushing', 'micturiation_pain',
       'burning', 'inflammation']]
data_y=df.nephritis

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
train_X,test_X,train_y,test_y=train_test_split(data_X,data_y,test_size=0.3,random_state=1)
clf=LogisticRegression()
clf.fit(train_X,train_y)
p=clf.predict(test_X)
print(sum(p==test_y)/len(p))

1.0

In [7]:
TP=sum((p==test_y)& (test_y==1))
TN=sum((p==test_y)& (test_y==0))
FP=sum((p!=test_y)& (test_y==1))
FN=sum((p!=test_y)& (test_y==0))
print(TP,TN,FP,FN)

accuracy=(TP+TN)/(TP+TN+FP+FN)
print("準確率",accuracy)

precision=TP/(TP+FP)
print("精確率",precision)

recall=TP/(TP+FN)
print("召回率",recall)
f1=2/(1/precision+1/recall)
print("f1",f1)

20 16 0 0
準確率 1.0
精確率 1.0
召回率 1.0
f1 1.0